div(ng-controller='JobViewController as Job')
  .wrapper-xs.bg-light.b-b
    .m-l-md.font-thin.h3
      | Positions /
      a(ui-sref='jobs.manage({jobId: Job.data.id})')  {{Job.data.role}} /
      a(ui-sref='job.view({jobId: Job.data.id})')  View JD
  .col-md-9.clearfix
    //- Job top cover container
    .col-sm-12.dker.no-padder
      .col-sm-7.no-padder.clearfix.m-t-xs
        .hbox
          .col.thumb-xl.text-center.bg-light.dker.wrapper-lg
            i.fa.fa-briefcase.fa-4x.wrapper-xs.text-white
          .col.bg-white.wrapper-xs
            .hbox
              .col.h3 &nbsp; {{Job.data.client_name}}
            .hbox
              .col.h4
                | &nbsp;{{Job.data.role}}
                i.btn.fa.fa-download(ng-click='App.downloadJob([Job.data.id])')
            .hbox
              .col
                .hox.h5.m-t-xs.text-muted
                  .col.v-middle
                    i.fa.fa-lg.fa-inr
                  .col.v-middle  &nbsp; {{Job.data.min_sal}}–{{Job.data.max_sal}} Lakhs
                .hbox.h5.m-t-xs.text-muted
                  .col.v-middle(style='width:20px;'): i.fa.fa-lg.fa-map-marker
                  .col.v-middle  &nbsp; {{Job.data.job_location}}
              .col
                .pull-right
                  .hbox.h5.m-t-xs.text-muted
                    .col.v-middle Total Applicants
                    .col.fa-2x &nbsp;{{Job.data.total_applicants}}
                  .hbox.h5.m-t-xs.text-muted
                    .col.v-middle Priority
                    .col.v-middle: .btn.btn-success.rounded {{Job.data.job_status}}
      .col-sm-5.clearfix.no-padder.m-t-xs
        .panel.panel-primary.m-l-xs.bg-white.no-border
          .panel-heading
          .panel-body.wrapper-xs
            .hbox
              .col.thumb-lg.clearfix
                .pull-right Experience: &nbsp;
              .col  {{Job.data.min_exp}}–{{Job.data.max_exp}} Years
            .hbox.padder-v(ng-if='Job.data.degrees.length>=0')
              .col.thumb-lg.clearfix
                .pull-right Qualifications: &nbsp;
              .col
                .pull-left.b-a.b-info.text-info-dker.m-r-xs.m-b-xs.r(ng-repeat='degree in Job.data.degrees' style='padding: 2px;' ng-if='Job.showAllDegree || $index < 3') {{degree}}
                a.pull-left(ng-if='Job.data.degrees.length>=3' ng-click='Job.showAllDegree = !Job.showAllDegree')
                  span.font-bold.text-info-dker(ng-if='Job.showAllDegree') – Less
                  span.font-bold.text-info-dker(ng-if='!Job.showAllDegree') + More

    //- Job Responsibility
    .col-sm-12.no-padder.m-t-xs(ng-if='Job.data.responsibility')
      .panel.panel-primary.no-border.m-n
        .panel-heading Duties and Responsibility
        .panel-body.bg-light.dker(ng-bind-html="Job.responsibility")

    //- Job Details
    .col-sm-12.bg-white.m-t-xs
      div
        .h5.text-black-dker.font-bold.m-t-xs About Us
        .h4.text-info-dker {{Job.data.client_name}}
        p.text-muted {{Job.data._root_.description}}
        p.text-muted(ng-if='Job.data._root_.website') Website: {{Job.data._root_.website}}
        p.text-muted
          a(ng-href='{{Job.data._root_.apple_store_link}}'): i.fa-lg.fa.fa-apple.wrapper-xs
          a(ng-href='{{Job.data._root_.playstore_link}}'): i.fa-lg.fa.fa-android.wrapper-xs
          a(ng-href='{{Job.data._root_.windiows_store_link}}'): i.fa-lg.fa.fa-windows.wrapper-xs
      .line.line-dashed.b-b.line-lg.pull-in
      .h5.font-bold.m-t-xs.m-b-xs Skills
      .h6.clearfix
        .pull-left.b-a.b-info.text-info-dker.m-r-xs.m-b-xs.r(ng-repeat='skill in Job.data.skills' style='padding: 2px;' ng-if='Job.showAllSkill || $index < 6') {{skill}}
        a.pull-left(ng-if='Job.data.skills.length>6' ng-click='Job.showAllSkill = !Job.showAllSkill')
          span.font-bold.text-info-dker(ng-if='Job.showAllSkill') – Less
          span.font-bold.text-info-dker(ng-if='!Job.showAllSkill') + More
      .line.line-dashed.b-b.line-lg.pull-in

      .h5.font-bold.m-t-xs.m-b-xs Working Days
      .h5.clearfix {{Job.data.days_per_week}} Days a Week ({{Job.data.start_work_time}} to {{Job.data.end_work_time}})
      .line.line-dashed.b-b.line-lg.pull-in

    //- Job Information
    .col-sm-12.no-padder.m-t-xs
      .panel.panel-primary.no-border.m-n
        .panel-heading Information
        .panel-body
          .h4.text-info-dker Sourcing
          .wrapper-xs
            .h5 Vacancy :
              span.text-muted  &nbsp; {{Job.data.vacancy}}
            .clearfix.m-t-xs
              span.h5.pull-left Target Educational Institutions: &nbsp;
              span.h6.pull-left.b-a.b-info.text-info-dker.m-r-xs.m-b-xs.r(ng-repeat='institute in Job.data.institutes' style='padding: 2px;' ng-if='Job.showAllInstitute || $index < 6')  {{institute}}
            .clearfix.m-t-xs
              span.h5.pull-left Target Industries: &nbsp;
              span.h6.pull-left.b-a.b-info.text-info-dker.m-r-xs.m-b-xs.r(ng-repeat='industry in Job.data.industries' style='padding: 2px;' ng-if='Job.showAllIndustry || $index < 6')  {{industry}}
            .clearfix.m-t-xs
              span.h5.pull-left Target Companies: &nbsp;
              span.h6.pull-left.b-a.b-info.text-info-dker.m-r-xs.m-b-xs.r(ng-repeat='employer in Job.data.employers' style='padding: 2px;' ng-if='Job.showAllEmployer || $index < 6')  {{employer}}

          .h4.text-info-dker Interview Address
          .h5.text-muted(ng-bind-html="Job.interview_addr")

  .col-md-3.nav-comment.no-padder.m-t-xs(ng-controller='JobCommentsController as Comments')
    .col-xs-12(style='position: relative; height: 100%; width: 104%; top: 0; bottom: 50px; overflow-x: hidden; overflow-y: scroll; background-color: #fff; overflow-wrap: break-word;' scroll-to-bottom='Comments.ui.scrollToBottom')
      .col
        .hbox.b-b.padder-v(ng-repeat='comment in Comments.data | orderBy: "created_at"')
          .col.text-center.thumb-sm
            .fa-stack.fa-2x.text-primary
              i.fa.fa-circle.fa-stack-2x
              span.fa.fa-stack-1x.h3.fa-inverse {{comment.user.name[0].toUpperCase()}}
          .col.clearfix
            .col-xs-12
              .text-info-dker {{comment.user.name}}
              p {{comment.body}}
              .text-muted.pull-right(title='{{comment.created_at | date: "medium"}}') {{comment.created_at | date: 'd MMM, h:mm a'}}
        .hbox(style='height: 40px;')
    form.form.form-validation.col-xs-12.wrapper-xs.bg-white(style='position: relative; height: 50px; width: 100%; bottom: 40px; background-color: #fff;' ng-submit='Comments.insert()' name='commentForm')
      .input-group
        input.form-control(type='text' name='comment' placeholder='enter to comment' required ng-model='Comments.post.comment')
        span.input-group-btn
          button.btn.btn-default(type='sumbit' ng-disabled='commentForm.$invalid')
            i.fa.fa-paper-plane

