.hbox
  .wrapper-xs.bg-light.b-b(style='position: fixed;width: 100%;background: #fff; z-index: 2;')
    .h2
    ul.nav.nav-pills.nav-sm
      li.m-r-xs(ng-repeat='bucket in Applicant.buckets' ui-sref-active="active")
        a(ui-sref='applicants({bucket: bucket})') {{bucket}}
  table.table.m-b-none.m-t-xl(before-bottom='Applicant.loadApplicants()')
    thead
      tr
        th Candidate Name
        th Client Name
        th Position
        th(ng-if='Applicant.applicants[0].interview_type && Applicant.applicants[0].interview_time') Interview Detail
        th(style='width:20%;') Status
    tbody
      tr.bg-white(ng-repeat='applicant in Applicant.applicants')
        td
          a(ui-sref='applicant.view({applicantId: applicant.id })') {{applicant.name}}
        td
          a(ng-bind="applicant.client_name")
        td
          a(ng-bind="applicant.exp_designation")
        //td
        //  a(ui-sref='jobs.manage({jobId: applicant._root_.id, bucket: "All" })') {{applicant._root_.role}}
        td(ng-if='applicant.interview_type && applicant.interview_time')
          i.fa(class='text-{{App.interviewUI[applicant.interview_type].color}}-dker fa-{{App.interviewUI[applicant.interview_type].icon}}')
          |  {{App.states[applicant.interview_type].name}},
          |  {{applicant.interview_time | date : 'd MMM, h:mm a'}}
        td: .w-full(uib-dropdown='' uib-keyboard-nav='' dropdown-append-to-body)
          button.btn(class='btn-{{App.states[applicant.state_id].config.color}}' uib-dropdown-toggle='' style='text-align:left;padding: 2px 8px;' ng-disabled='App.states[applicant.state_id].Actions.length===0')
            | {{applicant.state_name}}&nbsp;
            span(ng-if='App.states[applicant.state_id].Actions.length>0').caret
          ul.uib-dropdown-menu(role='menu' aria-labelledby='simple-btn-keyboard-nav')
            li(role='menuitem' ng-repeat='state in App.states[applicant.state_id].Actions')
              a(href='' ng-click='App.changeState(applicant, state.state_id)') {{App.states[state.state_id].name}}
    tfoot
      tr
        td
        td
          button.pull-left.btn.active.m-t-xs(ng-if="Applicant.ui.loading")
            i.fa.fa-circle-o-notch.fa-spin
            strong &nbsp;Loading
          button.pull-left.btn.btn-primary.m-t-xs(ng-if="Applicant.ui.lazyLoad" ng-click="Applicant.loadApplicants()")
            i.fa.fa-plus-circle
            strong &nbsp;Load More
        td
