.hobx(ng-controller='JobsManageController as Applicant' before-bottom='Applicant.loadApplicants()')
  .wrapper-xs.bg-light.b-b(style='position: fixed;width: 100%;background: #fff; z-index: 2;')
    ul.nav.nav-pills.nav-sm
      li: label.i-checks.m-t-xs.m-b-none.m-l-lg
        input(type='checkbox' ng-click='Applicant.setChecked(Applicant.checkAll)' ng-model='Applicant.checkAll')
        i.m-r-none(ng-if='Applicant.applicants.length > 0')
      li(ng-repeat='bucket in Applicant.buckets' ui-sref-active="active")
        a(ui-sref='app.jobs.manage({bucket: bucket})') {{bucket}}
  .wrapper-xs.bg-light.b-b(style='position: fixed; right: 0;background: #fff; z-index: 3;')
    ul.nav.nav-pills.nav-sm
      li
        button.btn.btn-primary.btn-sm(ng-if='Applicant.getApplicants({checked: true}, "id").length>0' ng-click='App.downloadApplicant(Applicant.getApplicants({checked: true}, "id"))') Download CV(s)
      li: a.h5.b-a.b-info.b-2x.text-info.font-bold(ui-sref='app.job.view({jobId: 570})') View JD
  .wrapper-md
    .m-b-xs.hbox.m-t-xl(ng-if='Applicant.applicants.length === 0')
      .col: h1.text-center.text-muted(ng-if='!Applicant.ui.loading') No Applicants
    .m-t-lg
    .m-b-md.hbox(ng-repeat='applicant in Applicant.applicants')
      .col.bg-white
        .col-xs-12.col-md-10.no-padder
          .tl-content.m-none.padder.w-full.w-auto-xs
            .m-b-sm
              label.i-checks.m-b-none
                input(type='checkbox' ng-model='applicant.checked')
                i
              a(ui-sref='app.applicant.view({applicantId: applicant.id})')
                strong.text-primary-lt  {{applicant.name}}

              .btn-group.pull-right.m-t-n-xs(uib-dropdown='' uib-keyboard-nav='' dropdown-append-to-body)
                button.w-full.btn(class='btn-{{App.states[applicant.state_id].config.color}}' uib-dropdown-toggle='' ng-disabled='App.states[applicant.state_id].Actions.length===0' style='padding: 4px 8px;')
                  span {{applicant.state_name}}&nbsp;
                  span(ng-if='App.states[applicant.state_id].Actions.length>0').caret
                ul.uib-dropdown-menu(role='menu' aria-labelledby='simple-btn-keyboard-nav')
                  li(role='menuitem' ng-repeat='state in App.states[applicant.state_id].Actions')
                    a(href='' ng-click='App.changeState(applicant, state.state_id)') {{App.states[state.state_id].name}}

              span.pull-right.padder(ng-if='applicant.interview_type && applicant.interview_time')
                i.fa(class='text-{{App.interviewUI[applicant.interview_type].color}}-dker fa-{{App.interviewUI[applicant.interview_type].icon}}')
                |  {{applicant.interview_time | date : 'd MMM, h:mm a'}}

            .panel-body.pull-in.b-t.wrapper-xs
              .col-xs-4.text-ellipsis
                i.fa.fa-bookmark(style='margin:0 2px;')
                | {{applicant.exp_designation}}
              .col-xs-4.text-ellipsis
                i.fa.fa-graduation-cap
                | {{applicant.edu_degree}}
              .col-xs-4.text-ellipsis
                i.fa.fa-inr
                |  {{applicant.exp_salary}}&nbsp;Lakhs
              .col-xs-4.text-ellipsis
                i.fa.fa-briefcase
                |  {{applicant.exp_employer}}
              .col-xs-4.text-ellipsis
                i.fa.fa-line-chart
                |  {{applicant.total_exp}}&nbsp;Years
              .col-xs-4.text-ellipsis
                i.fa.fa-map-marker
                |  {{applicant.exp_location}}
        .col-xs-12.col-md-2.no-padder
          .m-none.wrapper-sm.w-full.w-auto-xs
            .m-b-sm.clearfix: span.pull-right.padder.m-t-xxs {{applicant.created_on | date: 'h:mm a'}}
            .panel-body.pull-in.m-r-n-sm.wrapper-xs.b-t
              .clearfix
                i.btn.pull-right.text-success-dker.m-t-xs.fa.fa-lg.fa-download(ng-click='App.downloadApplicant([applicant.id])')
                .item.text-info.h1.pull-right.padder.b-l.b-r.b-light.font-thin(title='System generated alogrithmic Score')  {{applicant.applicant_score}}
    .col-xs-2.col-xs-offset-5
      button.pull-left.btn.active.m-t-xs(ng-if="Applicant.ui.loading")
        i.fa.fa-circle-o-notch.fa-spin
        strong &nbsp;Loading
      button.pull-left.btn.btn-primary.m-t-xs(ng-if="Applicant.ui.lazyLoad" ng-click="Applicant.loadApplicants()")
        i.fa.fa-plus-circle
        strong &nbsp;Load More
