.wrapper-xs.bg-light.b-b
  .m-l-md.font-thin.h3 Add New Position
form.form-horizontal.col-lg-10.col-lg-offset-1.wrapper-md(ng-controller='NewJobController as NewJob' name='form')
  .panel.panel-primary.no-border
    .panel-heading.font-thin.h4
      | Job Description
    .panel-body
      .col-sm-8.no-padder
        label.col-xs-12.col-sm-11.input-group
          | What role would you like to hire?
          span.text-danger *
          input.form.form-control(type='text' placeholder='eg. Software Engineer' ng-model='NewJob.data.role' required)
      .col-sm-4.no-padder
        .col-xs-8.no-padder
          label.col-xs-11.input-group
            | Location
            span.text-danger *
            input.form-control(type='text' ng-model='NewJob.Regions.model' placeholder='Job Location' uib-typeahead='region.name for region in NewJob.Regions.get($viewValue)' typeahead-loading='NewJob.Regions.loadingRegions' typeahead-no-results='NewJob.Regions.noResults' typeahead-on-select='NewJob.Regions.select($item)' required)
            i.fa.fa-refresh.fa-spin(ng-show='NewJob.Regions.loadingRegions')
            div(ng-show='NewJob.Regions.noResults')
              i.fa.fa-remove
              |  No Results Found
        .col-xs-4.no-padder
          label.w-full.input-group
            | Vacancies
            span.text-danger *
            input.form.form-control(type='number' ng-model='NewJob.data.vacancy' required)
      .line.line-dashed.b-b.line-lg.pull-in
      .col-sm-6.no-padder
        label.w-full.input-group
          .col-xs-12.no-padder
            | CTC Offered (Lakhs)
            span.text-danger *
          .col-xs-5.no-padder
            input.form.form-control(type='number' placeholder='Minimum Annual CTC in Lakhs' ng-model='NewJob.data.min_sal' required)
          .col-sm-1.col-xs-2.no-padder: span.btn.w-full to
          .col-xs-5.no-padder
            input.form.form-control(type='number' placeholder='Maximum Annual CTC in Lakhs' ng-model='NewJob.data.max_sal' required)
      .col-sm-6.no-padder
        label.w-full.input-group
          .col-xs-12.no-padder
            | Experience (Years)
            span.text-danger *
          .col-xs-5.no-padder
            input.form.form-control(type='number' placeholder='Minimum Experience (In Years)' ng-model='NewJob.data.min_exp' required)
          .col-xs-2.no-padder: span.btn.w-full to
          .col-xs-5.no-padder
            input.form.form-control(type='number' placeholder='Maximum Experience (In Years)' ng-model='NewJob.data.max_exp' required)
      .line.line-dashed.b-b.line-lg.pull-in
      label.w-full.input-group
        .col-xs-12.no-padder
          | Qualifications
          .col-xs-12.no-padder.m-t-xs.m-b-xs
            span.b-a.b-info.text-info-dker.m-r-xs(ng-repeat='degree in NewJob.data.JobsDegrees')
              span.wrapper-xs {{degree.degree}}
              a.text-info-lt.font-bold(ng-click='NewJob.data.JobsDegrees.splice($index,1)'): span.fa.fa-1x ×&nbsp;
          input.form-control(type='text' ng-model='NewJob.Degrees.model' placeholder='Degree' uib-typeahead='degree.name for degree in NewJob.Degrees.get($viewValue)' typeahead-loading='NewJob.Degrees.loadingDegrees' typeahead-no-results='NewJob.Degrees.noResults' typeahead-on-select='NewJob.Degrees.select($item)')
          i.fa.fa-refresh.fa-spin(ng-show='NewJob.Degrees.loadingDegrees')
          div(ng-show='NewJob.Degrees.noResults')
            i.fa.fa-remove
            |  No Results Found
      .line.line-dashed.b-b.line-lg.pull-in
      label.w-full.input-group
        .col-xs-12.no-padder
          | Target Educational Institutions for Sourcing
          i.fa.fa-refresh.fa-spin(ng-show='NewJob.Institutes.loadingInstitutes')
        .col-xs-12.no-padder.m-t-xs.m-b-xs
          span.b-a.b-info.text-info-dker.m-r-xs(ng-repeat='institute in NewJob.data.JobsInstitutes')
            span.wrapper-xs {{institute.name}}
            a.text-info-lt.font-bold(ng-click='NewJob.data.JobsInstitutes.splice($index,1)'): span.fa.fa-1x ×&nbsp;
        .col-xs-12.no-padder
          input.form-control(type='text' ng-model='NewJob.Institutes.model' placeholder='Target Institutions (if any)' uib-typeahead='institute.name for institute in NewJob.Institutes.get($viewValue)' typeahead-loading='NewJob.Institutes.loadingInstitutes' typeahead-no-results='NewJob.Institutes.noResults' typeahead-on-select='NewJob.Institutes.select($item)')
          div(ng-show='NewJob.Institutes.noResults')
            i.fa.fa-remove
            |  No Results Found
      .line.line-dashed.b-b.line-lg.pull-in
      label.w-full.input-group
        .col-xs-12.no-padder
          | Target Industries for Sourcing
          .col-xs-12.no-padder.m-t-xs.m-b-xs
            span.b-a.b-info.text-info-dker.m-r-xs(ng-repeat='industry in NewJob.data.JobsIndustries')
              span.wrapper-xs {{industry.name}}
              a.text-info-lt.font-bold(ng-click='NewJob.Industries.list.push(NewJob.data.JobsIndustries.splice($index,1)[0])'): span.fa.fa-1x ×&nbsp;
          input.form-control(type='text' ng-model='NewJob.Industries.model' ng-init='NewJob.Industries.model=""' placeholder='Target Industries (if any)' uib-typeahead='industry.name for industry in (NewJob.Industries.list |  filter: { name: $viewValue })' typeahead-loading='NewJob.Industries.loadingIndustries' typeahead-no-results='NewJob.Industries.noResults' typeahead-on-select='NewJob.Industries.select($item)' typeahead-min-length='0' typeahead-show-hint='true' typeahead-editable='true')

      .line.line-dashed.b-b.line-lg.pull-in
      label.w-full.input-group
        .col-xs-12.no-padder
          | Target Companies for Sourcing
          i.fa.fa-refresh.fa-spin(ng-show='NewJob.Employers.loadingEmployers')
        .col-xs-12.no-padder.m-t-xs.m-b-xs
          span.b-a.b-info.text-info-dker.m-r-xs(ng-repeat='employer in NewJob.data.JobsEmployers')
            span.wrapper-xs {{employer.name}}
            a.text-info-lt.font-bold(ng-click='NewJob.data.JobsEmployers.splice($index,1)'): span.fa.fa-1x ×&nbsp;
        .col-xs-12.no-padder
          input.form-control(type='text' ng-model='NewJob.Employers.model' placeholder='Target Companies (if any)' uib-typeahead='employer.name for employer in NewJob.Employers.get($viewValue)' typeahead-loading='NewJob.Employers.loadingEmployers' typeahead-no-results='NewJob.Employers.noResults' typeahead-on-select='NewJob.Employers.select($item)')
          div(ng-show='NewJob.Employers.noResults')
            i.fa.fa-remove
            |  No Results Found
      .line.line-dashed.b-b.line-lg.pull-in
      label.w-full.input-group
        .col-xs-12.no-padder Duties and Responsibilities
        textarea.form.form-control(type='text' ng-model='NewJob.data.responsibility')
      .line.line-dashed.b-b.line-lg.pull-in
      label.w-full.input-group
        .col-xs-12.no-padder
          | Skills
          i.fa.fa-refresh.fa-spin(ng-show='NewJob.Skills.loadingSkills')
        .col-xs-12.no-padder
          .col-xs-6.no-padder.m-t-xs.m-b-xs
            span.b-a.b-info.text-info-dker.m-r-xs(ng-repeat='skill in NewJob.data.JobSkills' ng-show='skill.isRequired')
              span.wrapper-xs {{skill.name}}
              a.text-info-lt.font-bold(ng-click='NewJob.data.JobSkills.splice($index,1)'): span.fa.fa-1x ×&nbsp;
          .col-xs-6.no-padder.m-t-xs.m-b-xs
            span.b-a.b-info.text-info-dker.m-r-xs(ng-repeat='skill in NewJob.data.JobSkills' ng-show='!skill.isRequired')
              span.wrapper-xs {{skill.name}}
              a.text-info-lt.font-bold(ng-click='NewJob.data.JobSkills.splice($index,1)'): span.fa.fa-1x ×&nbsp;
        .col-xs-6.no-padder
          .col-xs-6.no-padder.input-group
            input.form-control(type='text' ng-model='NewJob.Skills.modelRequired' placeholder='Required Skills' uib-typeahead='industry.name for industry in NewJob.Skills.get($viewValue)' typeahead-loading='NewJob.Skills.loadingSkills' typeahead-no-results='NewJob.Skills.noRequiredResults' typeahead-on-select='NewJob.Skills.selectRequired($item)')
            span.input-group-btn
              button.btn.btn-default(type='button' ng-if='NewJob.Skills.modelRequired && NewJob.Skills.noRequiredResults' ng-click='NewJob.Skills.create(NewJob.Skills.modelRequired, true)'): i.fa.fa-plus
          div(ng-show='NewJob.Skills.noRequiredResults')
            i.fa.fa-remove
            |  No Results Found
        .col-xs-6.no-padder
          .col-xs-6.no-padder.input-group
            input.form-control(type='text' ng-model='NewJob.Skills.modelOptional' placeholder='Optional Skills' uib-typeahead='industry.name for industry in NewJob.Skills.get($viewValue)' typeahead-loading='NewJob.Skills.loadingSkills' typeahead-no-results='NewJob.Skills.noOptionalResults' typeahead-on-select='NewJob.Skills.selectOptional($item)')
            span.input-group-btn
              button.btn.btn-default(type='button' ng-if='NewJob.Skills.modelOptional && NewJob.Skills.noOptionalResults' ng-click='NewJob.Skills.create(NewJob.Skills.modelOptional, false)'): i.fa.fa-plus
          div(ng-show='NewJob.Skills.noOptionalResults')
            i.fa.fa-remove
            |  No Results Found

  .panel.panel-default.no-border
    .panel-heading.font-thin.h4
      | Additional Details
    .panel-body
      label.w-full.input-group
        .col-xs-12.no-padder Perks, Incentives, ESOP's and Compensation details
        textarea.form.form-control(type='text' ng-model='NewJob.data.perks')
      .line.line-dashed.b-b.line-lg.pull-in
      .col-sm-2.no-padder
        label.w-full.input-group
          .col-xs-12.no-padder Working Days
          .col-xs-11.no-padder
            select.form-control.m-b(name='days_per_week' ng-model='NewJob.data.days_per_week')
              option(ng-repeat='n in [1,2,3,4,5,6,7]' ng-value='n') {{n}}
      .col-sm-5.no-padder
        label.w-full.input-group
          .col-xs-12.no-padder Working Hours
          .col-xs-5.no-padder
            select.form-control.m-b(name='start_work_time' ng-model='NewJob.data.start_work_time')
              option(ng-repeat='time in NewJob.ui.start_work_time' ng-value='time') {{time}}
          .col-xs-1.no-padder: span.btn.w-full to
          .col-xs-5.no-padder
            select.form-control.m-b(name='end_work_time' ng-model='NewJob.data.end_work_time')
              option(ng-repeat='time in NewJob.ui.end_work_time' ng-value='time') {{time}}
      .col-sm-5.no-padder
        label.w-full.input-group
          .col-xs-12.no-padder
            | Job Functional Area
            span.text-danger *
          .col-xs-12.no-padder
            select.form-control.m-b(name='functional_area' ng-model='NewJob.data.func_id')
              option(value='0' selected disabled) -- Choose One Functional Area --
              option(ng-repeat='func in NewJob.Funcs | orderBy:"name"' ng-value='func.id') {{func.name}}
      .line.line-dashed.b-b.line-lg.pull-in
      .col-sm-6.no-padder
        label.w-full.input-group
          .col-xs-12.no-padder
            | Job Nature
            span.text-danger *
          .col-xs-12.no-padder
            .col-xs-6.radio: label.i-checks
              input(type='radio' name='job_nature' ng-model='NewJob.data.job_nature' value='1')
              i
              | Full Time
            .col-xs-6.radio: label.i-checks
              input(type='radio' name='job_nature' ng-model='NewJob.data.job_nature' value='0')
              i
              | Part Time
      .col-sm-6.no-padder
        label.w-full.input-group
          .col-xs-12.no-padder
            | Gender Preference
            span.text-danger *
          .col-xs-12.no-padder
            .col-xs-4.radio: label.i-checks
              input(type='radio' name='gender' ng-model='NewJob.data.preferred_genders' value='No Preference')
              i
              | None
            .col-xs-4.radio: label.i-checks
              input(type='radio' name='gender' ng-model='NewJob.data.preferred_genders' value='Male')
              i
              | Male
            .col-xs-4.radio: label.i-checks
              input(type='radio' name='gender' ng-model='NewJob.data.preferred_genders' value='Female')
              i
              | Female

  .panel.panel-default.no-border
    .panel-heading.font-thin.h4
      | Interview Details
    .panel-body
      .col-sm-4.no-padder
        label.w-full.input-group
          .col-xs-12.no-padder Direct Lineup
          .col-xs-12.no-padder
            .col-xs-4.radio: label.i-checks
              input(type='radio' name='direct_line_up' ng-model='NewJob.data.direct_line_up' value='1')
              i
              | Yes
            .col-xs-4.radio: label.i-checks
              input(type='radio' name='direct_line_up' ng-model='NewJob.data.direct_line_up' value='0')
              i
              | No
      .col-sm-4.no-padder
        //- Hidden White List JD from Clients
        label.w-full.input-group.hide
          .col-xs-12.no-padder
            | White List JD
            span.text-danger *
          .col-xs-12.no-padder
            .col-xs-4.radio: label.i-checks
              input(type='radio' name='whitelist' ng-model='NewJob.data.whitelist' value='1')
              i
              | Yes
            .col-xs-4.radio: label.i-checks
              input(type='radio' name='whitelist' ng-model='NewJob.data.whitelist' value='0')
              i
              | No
      .col-sm-4.no-padder
        label.w-full.input-group
          .col-xs-12.no-padder
            | Email of contact person
            span.text-danger *
          .col-xs-12.no-padder(ng-init='NewJob.data.email = App.userinfo.email_id')
            input.form.form-control(type='email' ng-model='NewJob.data.email' required)
      .line.line-dashed.b-b.line-lg.pull-in
      label.w-full.input-group
        .col-xs-12.no-padder Sourcing and Screening Guidelines
        textarea.form.form-control(type='text' ng-model='NewJob.data.comments')
      .line.line-dashed.b-b.line-lg.pull-in
      label.w-full.input-group
        .col-xs-12.no-padder Interview Address
        textarea.form.form-control(type='text' ng-model='NewJob.data.interview_addr')
      .line.line-dashed.b-b.line-lg.pull-in
      label.w-full.input-group
        .col-xs-12.no-padder Interview Directions
        textarea.form.form-control(type='text' ng-model='NewJob.data.interview_place_direction')

  .col-xs-12: button.btn.btn-success.pull-right(type='submit' ng-click='NewJob.create()' ng-disabled='form.$invalid') CREATE JD
