//- list
ul.nav
  li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
    span Navigation
  li(ui-sref-active='active'): a(ui-sref='app.dashboard')
    i.fa.fa-bar-chart.icon.text-primary-dker
    span.font-bold Dashboard
  li(ui-sref-active='active'): a(ui-sref='app.jobs.list')
    b.hide.badge.bg-info.pull-right 20
    i.fa.fa-list-alt.icon.text-info-dker
    span.font-bold Positions
  li(ui-sref-active='active'): a(ui-sref='app.applicants({bucket: "All"})')
    i.fa.fa-users.icon.text-primary-dker
    span.font-bold Candidates
  li(ui-sref-active='active'): a(ui-sref='app.calendar')
    b.hide.badge.bg-info.pull-right 9
    i.fa.fa-calendar-check-o.icon.text-success-dker
    span.font-bold Calendar
  li.hide(ui-sref-active='active'): a(ui-sref='app.payment')
    i.fa.fa-credit-card.icon.text-danger-lter
    span.font-bold Payment


//div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarController')
//  div.container
//    div.navbar-header
//      button.navbar-toggle(type='button', ng-click='nav.isCollapsed = !nav.isCollapsed')
//        span.sr-only Toggle navigation
//        span.icon-bar
//        span.icon-bar
//        span.icon-bar
//      a.navbar-brand(href='/') ui-gen
//
//    div#navbar-main.navbar-collapse.collapse(collapse='nav.isCollapsed')
//      ul.nav.navbar-nav
//        li(ng-repeat='item in nav.menu', ui-sref-active='active')
//          a(ui-sref='{{item.state}}') {{item.title}}
