//-Dashboard
.col-sm-4.no-padder
  .m-xs
    .col-xs-12.no-padder
      .m-xs
        .hbox.wrapper-md.bg-white-only
          .col
            i.fa.fa-file-text-o.fa-lg
            span.h4.text-black  CVs
            .fa-4x.h1 {{Dashboard.summary.cv}}
          .col.b-l.wrapper-xs
            i.fa.fa-user-secret.fa-lg
            span.h4.text-black  Interviews
            .fa-4x.h1 {{Dashboard.summary.interview}}
        .hbox.wrapper-xs.bg-black.text-center: a(ui-sref='app.applicants({bucket: "Pending Feedback"})') Awaiting Feedback
    .col-xs-12.no-padder
      .m-xs.wrapper-xs.bg-white
        .h4.text-black  &nbsp; Actions Required
        .b-b.m-t-xs
        .hbox.wrapper-sm.m-t-xs(ng-if='Dashboard.pipeline.length===0')
          .col.text-center All Done
        .hbox.wrapper-sm.m-t-xs(ng-if='Dashboard.pipeline.length>0')
          .col: .h6.font-bold Positions
          .col.thumb-xs: .h6.font-bold.pull-right CVs
        div
          .hbox.wrapper-sm.b-b(ng-repeat='pipe in Dashboard.pipeline | orderBy:"-count"')
            .col: a(ui-sref='app.jobs.manage({jobId: pipe.id, bucket:"Pending Feedback"})') {{pipe.role}}
            .col.thumb-xs
              span.pull-right {{pipe.count}}
.col-sm-8.no-padder
  .m-xs
    .col-xs-12.no-padder
      .col-sm-6.no-padder
        .m-xs.bg-white-only
          .h4.text-black.wrapper-xs.b-b  &nbsp; CV Status
          .hbox.wrapper-xs
            .col(style='max-width: 250px;')
              canvas.chart.chart-doughnut(chart-data='Dashboard.chart.data' chart-colours='["#5B90BF", "#96b5b4", "#ab7967"]' chart-labels='Dashboard.chart.labels')
            .col.wrapper-xs
              ul.doughnut-legend
                li.pull-left
                  span(style='background-color:#5B90BF')
                  | Awaiting Interviews
                li.pull-left
                  span(style='background-color:#96b5b4')
                  | Awaiting Feedback on CV
                li.pull-left
                  span(style='background-color:#ab7967')
                  | Awaiting Feedback on Interview

      .col-sm-6.no-padder
        .m-xs.hide IN FUTURE
    .col-xs-12.no-padder
      .m-xs.wrapper-xs.bg-white-only
        .h4.text-black.wrapper-xs.b-b  &nbsp; Upcoming Interviews
        .hbox.wrapper-sm(ng-if='Dashboard.interviews.length===0')
          .col.text-center.text-light-lter None for This Week
        .hbox.wrapper-sm(ng-if='Dashboard.interviews.length>0')
          .col: .h6.font-bold Name
          .col: .h6.font-bold Type
          .col: .h6.font-bold Time
        .hbox.wrapper-sm.b-b(ng-repeat='applicant in Dashboard.interviews')
          .col: a(ui-sref='app.applicant.view({applicantId: applicant.id})') {{applicant.name}}
          .col
            i.fa(class='text-{{App.interviewUI[applicant.interview_type].color}}-dker fa-{{App.interviewUI[applicant.interview_type].icon}}')
            |  {{App.states[applicant.interview_type].name}}
          .col {{applicant.interview_time | date : 'd MMM, h:mm a'}}

    .col-xs-12.no-padder.hide
      .m-xs.wrapper-xs.bg-white-only
        .h4.text-black.wrapper-xs.b-b  &nbsp; Upcoming Joinees
        .hbox.wrapper-md
          .col
            .fa-4x.h1 Chart
          .col.wrapper-xs
            div x
            div y
            div z
